[submodule "deps/zig-wayland"]
	path = deps/zig-wayland
	url = https://github.com/ifreund/zig-wayland
[submodule "deps/zig-pixman"]
	path = deps/zig-pixman
	url = https://github.com/ifreund/zig-pixman
[submodule "deps/zig-fcft"]
	path = deps/zig-fcft
	url = https://git.sr.ht/~novakane/zig-fcft
